*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
header.shadow {
    background: white;
    box-shadow: 0 1px 4px hsl(0 4% 14% / 10%);
    transition: 0.4s;
}
header.shadow .logo {
    color:rgb(0, 0, 0);
}
.logo{
    max-width: 100%;
    width: 130px;
    height: auto;
    color: rgb(0, 0, 0);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: rgb(0, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 27px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}
#menu-icon{
    color: rgb(0, 0, 0);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* Home */
.home{
    width: 100%;
    min-height: 440px;
    background: rgb(255, 255, 255);
    display: grid;
    justify-content: center;
    align-items: center;
}
.home-text{
    color: rgb(0, 0, 0);
    text-align: center;
}
.home-title{
    font-size: 3rem;
    line-height: 1.2;
}
.home-subtitle{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
}

/* Design */
.design{
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
    color:rgb(0, 0, 0) ;
}
.title h2{
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    margin: 2rem 0;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.design-img{
    position: relative;
    overflow: hidden;
}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition: all 0.5s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: gray;
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.design-title a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: capitalize;

}

/* blog */
.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    margin: 2rem 0;
}
.blog-img{
    position: relative;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-size: 1.1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}

/* footer */
footer{
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 2rem 0;
    text-align: center;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0) ;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: rgb(255, 255, 255);
    color: rgb(122, 191, 212);
}
.footer span{
    margin-top: 1rem;
    display: block;
    letter-spacing: 2px;
}

/* Responsive */

@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
}
@media (max-width: 970px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background:rgb(122, 191, 212) ;
        text-align: right;
        transition: all .40s;
    }
    .navlist a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(white);
        color: var(white);
    }
    .navlist a:hover{
        background: var(white);
        color: var(rgb(122, 191, 212));
    }
    .navlist.active{
        top: 100%;
    }
}
@media (max-width:1060){
    .home-text {
        width: 100%;
    }
}
@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }
}
@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }
    .home {
        min-height: 380px;
    }
    .home-title {
        font-size: 3rem;
    }
}
@media (max-width: 396px) {
    .home-title {
        font-size: 2rem;
    }
    .home-subtitle {
        font-size: 0.9rem;
    }
    .home {
        min-height: 300px;
    }
}
@media screen and (min-width: 540px) {
    .home form{
        margin-top: 1.4rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media  screen and (min-width: 768px) {
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 0;
    }
    .blog-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
@media screen and (min-width: 992px){
    .blog-content{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 1200px) {
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }
}