*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
.logo{
    max-width: 100%;
    width: 130px;
    height: auto;
    color: rgb(0, 0, 0);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color: rgb(0, 0, 0);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 27px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}
#menu-icon{
    color: rgb(0, 0, 0);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
body {
    background-color: rgb(255, 255, 255);
    color: white;
}


.heading {
    text-align: center;
}
.heading h2{
    font-size: 3rem;
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}
.heading h3 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 500;
}
.heading p{
    font-size: 1.1rem;
    color: rgb(122, 191, 212);
    line-height: 28px;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    cursor: pointer;
}
.col {
    position: relative;
}
.col img{
    max-width: 100%;
    width: 550PX;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
}
.layer:hover{
    background: linear-gradient(rgba(151, 217, 243, 0.5) 0%, #577d97);
}
.layer h3{
    position: absolute;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h3{
    bottom: 52%;
    opacity: 1;
}
.layer h5{
    position: absolute;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .40s;
}
.layer:hover h5{
    bottom: 48%;
    opacity: 1;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer p{
    font-size: 0.938rem;
    color: black;
}
.social{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.social .bx{
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}
.social .bx:hover {
    color: rgb(122, 191, 212);
    transition: 0.3s all linear;
}



@media (max-width: 570px) {
    .footer {
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}
@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
    section{
        padding: 70px 3%;
        transition: .3s;
    }
}
@media (max-width: 970px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: rgb(122, 191, 212);
        text-align: right;
        transition: all .40s;
    }
    .navlist a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(white);
        color: var(white);
    }
    .navlist a:hover{
        background: var(white);
        color: var(rgb(122, 191, 212));
    }
    .navlist.active{
        top: 100%;
    }
}
@media (max-width: 800px){
    section{
        padding: 65px 3%;
        transition: .3s;
    }
}