*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}
.logo{
    max-width: 100%;
    width: 130px;
    height: auto;
    color: rgb(0, 0, 0);
}
.navlist{
    display: flex;
}
.navlist li{
    position: relative;
}
.navlist a{
    color:rgb(0, 0, 0) ;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 27px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid black;
}
#menu-icon{
    color: rgb(0, 0, 0);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h1{
    font-size: 90px;
    line-height: 1;
    color: rgb(0, 0, 0);
    margin: 0 0 45px;
}
.hero-text p{
    color: rgb(0, 0, 0);
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: rgb(0, 0, 0);
    background: rgb(122, 191, 212);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px rgb(0, 0, 0) ;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px rgb(0, 0, 0) ;
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}

.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: rgb(0, 0, 0);
    transition: all .50s ease;
}
.icons i:hover{
    color: rgb(122, 191, 212);
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background:rgb(122, 191, 212) ;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}

@media (max-width: 1535px){
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1425px){
    header{
        padding: 16px 3%;
        transition: .3s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 560px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 970px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: rgb(122, 191, 212);
        text-align: right;
        transition: all .40s;
    }
    .navlist a{
        display: block;
        padding: 1.2rem;
        margin: 1.5rem;
        border-right: 2px solid var(white);
        color: var(white);
    }
    .navlist a:hover{
        background: var(white);
        color: var(rgb(122, 191, 212));
    }
    .navlist.active{
        top: 100%;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 100%;
        height: auto;
    }
}